.footer .container{
    max-width: 1440px;
    background: #EEEEEE;
   
    padding: 45px 75px;
}

.footer__container{
    border-top: 1px solid grey ;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    
}

.footer__right{
    margin-right: 73px;
}
.footer__left{
    display: flex;
    align-items: center;

}
.footer__left img{
    margin-right: 14px;
    

}
.footer__left p{
    max-width: 301px;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 15px;
    color: #000000;
}
.footer a {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 15px;

    color: #000000;
}