@import 'reset.css';
@import 'header.css';
@import 'fonts.css';
@import 'footer.css';
@import 'sections.css';


* {
    box-sizing: border-box;
    
}

body{
    font-family: 'GraphikLCG';
    font-weight: 400;
    
}
.container{
    max-width: 1330px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}