
main .container{
    max-width: 1440px;
    padding: 0 75px;
    background-color: #fff;
}
.section1 .container{
    position: relative;
}
.section1__text h2 {
    font-family: 'GraphikLCG';
    font-style: normal;
    font-weight: 600;
    font-size: 4.0625rem;
    line-height: 70px;
    color: #000000;
    max-width: 552px;
    padding-top: 128px;
}
.mb51{
    margin-bottom: 51px;
    cursor: pointer;

}
.section1__text__desc{
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 2.1875rem;
    font-family: 'GraphikLCG';
    font-style: normal;
    color: #000000;
    max-width: 471px;
    
}
.section1__text__desc-sub{
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 25px;
    color: #000000;
    max-width: 369px;
    padding-bottom: 172px;
}
.section1__buttons{
    
    margin-bottom: 25px;

}
.section1__button1{
    padding: 22px 40px 20px;
    margin-right: 5px;
    border: 1px solid #FF6336;
    background: #FF6336;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    transition: all ease-in-out 0.3s;
    border: 1px solid transparent;
}
.section1__button1:hover{
    border: 1px solid #FF6336;
    color: #FF6336;
    background-color: #fff;

}
.section1__button2{
    padding: 20px 30px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 1rem;
    line-height: 60px;
    text-align: center;
    color: #000000;
    transition: all ease-in-out 0.3s;
    background: #fff;
}
.section1__button2:hover{
    background: #000 ;
    color: #fff;
}
.section1__img{
    position: absolute;
    top: 149px;
    right: 68px;
    Width: 759px;
    Height: 529px;
}


/* section2 */
.section2 .container {
background: #FF9C7D;
display: flex;
    flex-direction: column;
    align-items: center;

}
.section2 h3{
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 60px;
        text-align: center;
        color: #000000;
        padding: 108px 0 70px;
        width: 54%;
        
        
}
.section2__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:104px;
    width: 96%;
}

/* section3 */
.section3 .container{
    background-color: #fff;
    
}


.section3__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
}


.section3 h3{
    max-width: 493px;
    font-style: normal;
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 60px;
    color: #000000;
}

.section3 p{
    max-width: 493px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    color: #000000;
}
.section3 p a{
    text-decoration: underline;
    color: #000;
}
.start-now{
    transition: all ease-out 0.3s;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 30px;
    color: #000000;
}

.start-now:hover{
color: #FF6336;
}
.pb150{padding-bottom: 150px;
}
.mb195{
    margin-bottom: 195px;
}
.mb30{
    margin-bottom: 30px;
}
.pt90{
    padding-top: 90px;
}


/* section4 */
.section4 .container{
    background: #FFF8E4;
    cursor: pointer;
}

.section4 h3{

    
    font-style: normal;
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 60px;

    text-align: center;
    
    color: #000000;
    padding: 112px 0  76px;
}

.card{
    max-width: 330px;
    margin-bottom: 75px;
    max-height: 294px;
    
}
.card__logo{
    display: flex;
}
.section4__cards{
    padding-bottom: 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
.card img{
    margin: 0px auto 23px;
}
.card__title{
    
    font-style: normal;
    font-weight: 600;
    font-size: 1.5625rem;
    line-height: 35px;

    text-align: center;
    margin-bottom: 23px;
    color: #000000;
}
.card__desc{
    
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 25px;
    /* or 139% */
    
    text-align: center;
    
    color: #000000;
}

/* section5 */

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 180px;

}
.box__logo{
    margin-bottom: 37px;

}
.box h3{
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 40px;
    /* identical to box height, or 133% */
    
    margin-bottom: 33px;
    color: #000000;
}
.box p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
    color: #000000;
    max-width: 409px;
   
}
.box a{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
    transition: all ease-in-out 0.3s;
}
.box a:hover{
    color: #FF6336;

}
.section5 h3{
    font-style: normal;
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 60px;
    color: #000000;
    margin-bottom: 75px;
    padding-top: 154px;

}
.section5 h4{
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 60px;
    color: #000000;
    margin-bottom: 23px;
}

/* section6 */
.section6 .container{
    background: #C9E8F2;
    display: flex;
    justify-content: space-between;
    padding: 63px 75px 96px;

}
.section6__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section6 p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 40px;
    
    max-width: 920px;
    margin-bottom: 30px;
    color: #000000;
}

.section6 span{
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 25px;
    color: #000000;
    
}








/* section7 */
.section7 .container{
    padding: 85px 51px 79px;
    justify-content: space-between;
    background: #DABC98;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section7 p{
    font-style: normal;
    font-weight: 600;
    font-size: 2.1875rem;
    line-height: 50px;
    color: #000000;
    max-width: 461px;
}
.left img{
    margin-right: 70px;
}
.left, .right{
    display: flex;
    align-items: center;
}
.right{
    width: 41%;
    justify-content: space-around;
}
.right::before{
    content: " ";
    background: #000;
    width: 1px;
    height: 168px;
    
    
}



/* section8 */
.section8 .container{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section8 h2{
    font-style: normal;
    font-weight: 600;
    font-size: 4.0625rem;
    line-height: 75px;
    
    
    text-align: center;
    
    color: #000000;
    padding-top: 165px;
    max-width: 791px;
}
.section8 p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
    max-width: 539px;


}
.section8 img{
    margin-bottom: 32px;
}
.section8 a{
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 60px;
    text-align: center;
    background: #FF6336;
    color: #FFFFFF;
    padding: 0 21px;
    margin-bottom: 162px;
    transition: all ease-in-out 0.3s;
border: 1px solid transparent;
}



.section8 a:hover{
border: 1px solid #FF6336;
background: #fff;
color: #FF6336 ;

}








/* section9 */
.section9 .container{
    background: #FF9C7D;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section9 h2{
    font-style: normal;
    font-weight: 600;
    font-size: 4.0625rem;
    line-height: 75px;
    text-align: center;
    color: #000000;
    max-width: 784px;
    padding: 120px 0px 28px;
}
.section9 p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 53px;

}
.section9 a {
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    padding: 0 40px;
    margin-bottom: 161px;
    transition: all ease-in-out 0.3s;
    border: 1px solid transparent;
}

.section9 a:hover{
    border: 1px solid #fff;

}

/* section10 */
.section10 .container{
    background: #EEEEEE;
    display: flex;
    justify-content: space-between;
    padding: 92px 51px 50px;
}
.case-studies{
    padding-left: 22px;
}
.section10 h3{
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 50px;
    color: #000000;
    margin-bottom: 28px;
}

.section10 p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    color: #000000;
    max-width: 290px;
    margin-bottom: 13px;

}
.section10__img__velo{
    margin-bottom: 30px;

}
.section10__img__logo{
    max-width: 80px;
    margin-bottom: 10px;
}
.read-more{
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 30px;
    color: #000000;
    transition: all ease-out 0.3s;
}


.read-more:hover{
color: #FF6336;
}
.cats{
    display: flex;

}
.cat{
    margin-right: 34px;
    width: 25%;
}
.cat-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 25px;
    color: #000000;
    transition: all ease-in-out 0.3s;
    margin-bottom: 26px;
    display: block;

}
.cat-title:hover{
    color: #FF6336;

}
.cat__list{
    width: 190px;
}
.cat__list-item{
    
    margin-bottom: 15px;

}

.cat__list-item a{
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 15px;
    color: #000000;
    transition: all ease-out 0.3s;
}
.cat__list-item a:hover{
    color:  #FF6336; ;
}
html{
    background-color: #E5E5E5;
    font-size: 16px;
    
}
.header__body{
    display: flex;
    align-items: center;
        width: 100%;
  
}
.card {
    display: flex;
    max-width: 330px;
    margin-bottom: 75px;
    max-height: 294px;
    flex-direction: column;
}
/* adaptive */

@media screen and (max-width:1440px){
    .header__right {
        margin-left: 60px;
    }
    html {
        background-color: #E5E5E5;
        font-size: 14px;
    }
    main{
        overflow-x: hidden;
    }
    .container{
        width: 81%;
        
    }
    .cat {
        margin-right: 5px;
        width: 20%;
    }
    .case-studies {
        
        margin-right: 10px;
    }
    .section1__img {
        position: absolute;
        top: 226px;
        right: 15px;
        Width: 607px;
        Height: 423px;
    }
    .section1__text__desc-sub {
        
        padding-bottom: 110px;
    }
    .section3 img{
        width: 80%;
    }
    .section3__row__img:nth-child(2n){
        text-align: right;
    }
    .mb195 {
        margin-bottom: 90px;
    }
    .section8 h2 {
        
        padding-top: 100px;
        
    }
    .section8 a {
        
        margin-bottom: 72px;
        
    }
   
    .cats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .card {
        display: flex;
        max-width: 330px;
        margin-bottom: 75px;
        max-height: 294px;
        width: 50%;
        flex-direction: column;
    }
}
@media screen and (max-width:1280px){
    .cat {
        margin-right: 5px;
        width: 33%;
        margin-bottom: 10px;
    }
    .section1__img {
        position: absolute;
        top: 226px;
        right: 15px;
        Width: 467px;
        Height: 335px;
    }
    
}

@media screen and (max-width:1024px){
    html{
        font-size: 12px;
    }
    .header__logo {
        margin-right: 30px;
    }
    .header__list-item {
        margin-right: 25px;
    }
    .header__right{
        
        display: flex;
        margin-left: 7px;
  
    }
    .header__button1 {
       
        padding: 0 25px 0;
        
      
    }
    .header__menu{
        width: 75%;
    }
    .header__button2 {
        background: #FF6336;
        font-weight: 600;
        color: #FFFFFF;
        padding: 0px 11px 0px;
    }
    .header__button1 {
        
        padding: 0px 20px 0px;
    }
    .section1__img {
        position: absolute;
        top: 289px;
        right: 15px;
        Width: 400px;
        Height: 272px;
    }
    .section2 .container {
        max-width: 1440px;
        padding: 0 10px;
     }
    .section2 h3 {
        
        font-size: 3.125rem;
        line-height: 45px;
       
        padding: 100px 0 55px;
        width: 54%;
    }
    .section2__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 104px;
        width: 58%;
    }
    .mb195 {
        margin-bottom: 40px;
    }
    .pb150 {
        padding-bottom: 80px;
    }
    .section5 h3 {
        margin-bottom: 50px;
        padding-top: 75px;
    }
    .left img {
        margin-right: 20px;
    }
    .section8 img{
        width: 100%;
    }
    .section9 h2 {
        
        line-height: 65px;
        
        padding: 70px 0px 20px;
    }
    .section9 a {
        
        margin-bottom: 96px;
    }
    .cats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .cat {
        margin-right: 5px;
        width: 33%;
        margin-bottom: 40px;
    }
    .section7 p {
        
        line-height: 30px;
    }
    .images7{
        margin-right: 20px;
    }
    .left , .right{
        width: 50%;
    
    }
    .cat__list-item a {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 15px;
        color: #000000;
        transition: all ease-out 0.3s;
    }
    .section1__img {
    position: absolute;
    top: 226px;
    right: 15px;
    Width: 467px;
    Height: 335px;
}

}


@media screen and (max-width:768px){
    html{
        font-size: 10px;
    }
    .box{
        margin-bottom: 20px;
    }
    .boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        padding-bottom: 0px;
        flex-wrap: wrap;
        width: 100%;
    }
    .box p {
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 30px;
        color: #000000;
        margin-bottom: 30px;
        color: #000000;
    }
    .box__logo {
        margin-bottom: 15px;
    }
    .section5 h4 {
        
        margin-bottom: 0px;
    }

    
    .section6 .container {
        
        padding: 40px 75px 40px;
    }
    .section7 .container {
        padding: 15px 51px 30px;
    }
    .section8 h2 {
        padding-top: 50px;
    }
    .section8 a {
        margin-bottom: 36px;
    }
    .section9 h2 {
        line-height: 65px;
        padding: 30px 0px 20px;
    }
    .section9 a {
        margin-bottom: 49px;
    }
    /* burger__menu */

                  


    .header{
        position: fixed;
        width: 100%;
        z-index: 2;
        
    }
    .header__body{
        display: flex;
        align-items: center;
            width: 100%;
            justify-content: space-between;
    }
    .header__burger{
        
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        
    }
    .header__burger:before ,
    .header__burger:after{
        content: "";
        background-color: #FF6336;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease-in-out 0s;

    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    
    .header__burger span{
        content: "";
        background-color: #FF6336;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease-in-out 0s;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        background-color: #FFF;
        bottom: 9px;
        top: 8px;

    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        background-color: #FFF;
        top: 9px;

    }
    .header__burger.active span{
        transform: scale(0);

    } 
    .header__menu{
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: #C4C4C4;
        top: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 0.3s;
       
    }
    .header__menu.active{
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: #FF6336;
        opacity: 0.95;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
    
    

    .navigation ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
    }
    .navigation ul li a{
        margin: 5px 15px;
        font-size: 2rem;
        margin-bottom: 10px;
        

    }
    .section1__img {
        position: absolute;
        top: 355px;
        right: 25px;
        Width: 229px;
        Height: 171px;
    }
    .section3 h3 {
        
        line-height: 40px;
        
    }
    .section3 p , .box p {
        
        line-height: 20px;
    }
    .section5 h3 {
        
        line-height: 40px;
    }
    .section6__right img{
        width: 200px;

    }

    .section6 p {
        
        line-height: 20px;
        
    }
    .left img{
        width: 100px;
    }
    .section7 p {
        line-height: 27px;
    }
    .left img{
        width: 40%;
    }
    .right{
        justify-content: end;
    }
    .left img {
        margin-right: 10px;
    }
    .images7 , .images8 {
        width: 70%;
    }
    .right::before {
        
        margin-right: 10px;
    }
    .section10__img__velo {
        
        width: 190px;
    }
    .section10 .container {
       
        padding: 30px 51px 10px;
    }
    .footer__right {
        margin-right: 0;
    }
}


@media screen and (max-width:744px){
    .section1__img {
        position: absolute;
        top: 420px;
    }  
    
    .section3__row {
        margin-bottom: 0px;
        flex-wrap: wrap;
        width: 100%;
       
    }
    .section3__row__img{
        text-align: center;
    }
    .section3 img {
        width: 100%;
    }
    .section7 p {
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
    }
    .section4 h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 3.125rem;
        line-height: 35px;
        text-align: center;
        color: #000000;
        padding: 25px;
    }
    .section4__cards {
        padding-bottom: 0;
    }    

    .section5 h3 {
        margin-bottom: 43px;
        padding-top: 25px;
    }
    .section8 h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 4.0625rem;
        line-height: 45px;
        text-align: center;
        color: #000000;
        padding-top: 40px;
        
    }



}
@media screen and (max-width:700px){

    .header .container {
        max-width: 1440px;
        padding: 15px 51px 15px;
    }
    .section1__text h2 {
        font-family: 'GraphikLCG';
        font-style: normal;
        font-weight: 600;
        font-size: 4.0625rem;
        line-height: 40px;
        color: #000000;
        max-width: 552px;
        padding-top: 100px;
        margin-bottom: 20px;
    }
    .section1__img {
        position: absolute;
        top: 380px;
    }
    .section2 h3 {
        font-size: 3.125rem;
        line-height: 39px;
        padding: 31px 0 32px;
        width: 80%;
    }
    .section2__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 80px;
        width: 65%;
    }
    .section2__logo a {
        margin-bottom: 5px;
    }
    .pt90 {
        padding-top: 50px;
    }
    .card {
    
        width: 100%;
    }
    .card img {
        margin: 0px auto 0;
    }
    .card__title {
        font-size: 1.7625rem;
        margin-bottom: 0px;
    }
    .card__desc {
        
        font-size: 1.325rem;
    }
    .section9 h2 {
        line-height: 46px;
        padding: 20px 0px 10px;
    }
    .section9 p {
        margin-bottom: 27px;
    }
    .section9 a {
        margin-bottom: 30px;
    }
    .section10 .container{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:600px){
    .section1__text__desc p{
        margin-bottom: 170px;
    }
    .section1__img {
        position: absolute;
        top: 440px;
        left: 130px;
        height: 140px; 
    }
    .section1__buttons {
        margin-bottom: 0;
    }
    .section6 .container {
        padding: 40px 75px 40px;
        flex-wrap: wrap-reverse;
        justify-content: center;
       
    }
    .section6 p {
        line-height: 20px;
        margin-top: 10px;
        font-size: 1.5rem;
        text-align: center;
    }
    .section7 p {
     
        font-size: 1.4rem;
    }
    .section8 h2 , .section9 h2  {
        font-style: normal;
        font-weight: 600;
        font-size: 3.0625rem;
        
        padding-top: 30px;
    }
    .cats {
        padding-top: 22px;
    }
    .section1__text__desc-sub {
        padding-bottom: 150px;
    }
  
    .section1__text h2 {
        font-size: 3.0625rem;
    }
    .section1__text__desc {
        
        font-size: 1.2625rem;
    }
}
@media screen and (max-width:425px){
    html{
        font-size: 8px;
    }
    .container{
        width: 100%;
    }
    .section1__text h2 {
        
        line-height: 40px;
        text-align: center;
    }
    main .container {
        max-width: 1440px;
        padding: 0 30px;
        background-color: #fff;
    }
    .section1__text__desc-sub {
        padding-bottom: 0;
    }
    .section1__img {
        transform: translate(-8%, -122%);
        position: absolute;
        
        Width: 230px;
        Height: 170px;
    }
    .section1__buttons {
        margin-top: 165px;
        margin-bottom: 0;
    }
    .section1__button2 {
        padding: 22px 30px 20px;
    }
    .section2__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 40px;
        width: 50%;
    }
    .pt90 {
        padding-top: 25px;
    }
    .section2__logo a{
        margin-bottom: 10px;
    }
    h3{
        text-align: center;
    }
    .box{
        text-align: center;
    }
    .boxes {
        
        flex-wrap: wrap;
    }
    .section6 .container{
        flex-direction: column-reverse;
        text-align: center;
    }
    .section6__left {
        
        align-items: center;
    }
    .section7 .container {
        padding: 74px 10px 25px;
    
        flex-direction: column;
    }
    .left, .right {
        width: 60%;
    }
    .right::before {
        content: " ";
        background: #000;
        width: 168px;
        height: 1px;
    }
    .right {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .images7 , .images8 {
        margin: 10px 0px;
    }
    .section10__img__velo {
        text-align: center;
        width: 100%;
    }
   
    .section9 h2 {
        line-height: 32px;
        font-size: 3.00rem;
        padding-top: 15px;
    }

    .section10 .container {
        background: #EEEEEE;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .footer__container {
        align-items: center;
        flex-direction: column;
    }
    .footer__left{
        flex-direction: column;
        align-items: center;
    }
    .footer__right {
        text-align: center;
        margin-right: 15px;
    }
}

@media screen and (max-width:375px){
    .section3__row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .section3 img {
        width: 100%;
    }
    .footer__left p {
        
        text-align: center;
    }
    
      
}


@media screen and (max-width:320px){
    .mb51 {
        margin-bottom: 4px;
        
    }
} 

